<h1>Admin can upload Post there. this is my final exam component!</h1>
<!-- {{message}} -->
<div style="padding: 100px; background-image: url(https://th.bing.com/th/id/R70529d44ba984e05ff1c095e28449f86?rik=NwCXfUcko81YPw&pid=ImgRaw);">
        <div>
                <!-- <h3>Upload Post:</h3>  -->
                <!-- <input style="padding-left: 100px;" [(ngModel)]="message" type="file"/> -->
                <!-- <h3>Description:</h3>
                <input type="text" [(ngModel)]="message" style="margin-left: 300px; width: 800; height:800 ;"/>         -->
                <h3>Title:</h3>
                <input type="text" [(ngModel)]="title" style="margin-left: 300px; width: 800; height:800 ;"/>        
                <h3>Experience:</h3>
                <input type="text" [(ngModel)]="experience" style="margin-left: 300px; width: 800; height:800 ;"/>        
                <h3>Technologyies:</h3>
                <input type="text" [(ngModel)]="technology" style="margin-left: 300px; width: 800; height:800 ;"/>        
                <h3>Role:</h3>
                <input type="text" [(ngModel)]="role" style="margin-left: 300px; width: 800; height:800 ;"/>        
                
                <br>
                <input style="margin: 100px;margin-left: 300px;" (click)="upload()" type="button" value="Upload"/>
                

        </div>
</div>

