<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <button (click)='save()'>click me</button> -->
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink routerLink=''>Home</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink='addAssignment'>Add Assignment</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink='viewAssignment'>Download Assignment</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink='deleteAssignment'>Delete Assignment </a>
  </li>
  <!-- <li ngbNavItem>
    <a ngbNavLink routerLink='Demo'>formDemo </a>
  </li> -->
</ul>
<div [ngbNavOutlet]="nav"></div>
</body>
</html>
<router-outlet></router-outlet>
